<%= form_for(@month) do |f| %>
  <% if @month.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@month.errors.count, "error") %> prohibited this month from being saved:</h2>

      <ul>
      <% @month.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :kirija %><br>
    <%= f.number_field :kirija %>
  </div>
  <div class="field">
    <%= f.label :struja %><br>
    <%= f.number_field :struja %>
  </div>
  <div class="field">
    <%= f.label :voda %><br>
    <%= f.number_field :voda %>
  </div>
  <div class="field">
    <%= f.label :internet %><br>
    <%= f.number_field :internet %>
  </div>
  <div class="field">
    <%= f.label :zgrada %><br>
    <%= f.number_field :zgrada %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
