<%= form_for(@month) do |f| %>
  <% if @month.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@month.errors.count, "error") %> prohibited this month from being saved:</h2>

      <ul>
      <% @month.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :kirija %><br>
    <%= f.number_field :kirija %>
  </div>
  <div class="field">
    <%= f.label :struja %><br>
    <%= f.number_field :struja %>
  </div>
  <div class="field">
    <%= f.label :voda %><br>
    <%= f.number_field :voda %>
  </div>
  <div class="field">
    <%= f.label :internet %><br>
    <%= f.number_field :internet %>
  </div>
  <div class="field">
    <%= f.label :zgrada %><br>
    <%= f.number_field :zgrada %>
  </div>
  <div class="field">
    <%= f.label :petar_kirija %><br>
    <%= f.check_box :petar_kirija %>
  </div>
  <div class="field">
    <%= f.label :petar_struja %><br>
    <%= f.check_box :petar_struja %>
  </div>
  <div class="field">
    <%= f.label :petar_voda %><br>
    <%= f.check_box :petar_voda %>
  </div>
  <div class="field">
    <%= f.label :petar_zgrada %><br>
    <%= f.check_box :petar_zgrada %>
  </div>
  <div class="field">
    <%= f.label :petar_internet %><br>
    <%= f.check_box :petar_internet %>
  </div>
  <div class="field">
    <%= f.label :brane_kirija %><br>
    <%= f.check_box :brane_kirija %>
  </div>
  <div class="field">
    <%= f.label :brane_struja %><br>
    <%= f.check_box :brane_struja %>
  </div>
  <div class="field">
    <%= f.label :brane_voda %><br>
    <%= f.check_box :brane_voda %>
  </div>
  <div class="field">
    <%= f.label :brane_zgrada %><br>
    <%= f.check_box :brane_zgrada %>
  </div>
  <div class="field">
    <%= f.label :brane_internet %><br>
    <%= f.check_box :brane_internet %>
  </div>
  <div class="field">
    <%= f.label :dmz_kirija %><br>
    <%= f.check_box :dmz_kirija %>
  </div>
  <div class="field">
    <%= f.label :dmz_struja %><br>
    <%= f.check_box :dmz_struja %>
  </div>
  <div class="field">
    <%= f.label :dmz_voda %><br>
    <%= f.check_box :dmz_voda %>
  </div>
  <div class="field">
    <%= f.label :dmz_zgrada %><br>
    <%= f.check_box :dmz_zgrada %>
  </div>
  <div class="field">
    <%= f.label :dmz_internet %><br>
    <%= f.check_box :dmz_internet %>
  </div>
  <div class="field">
    <%= f.label :gare_kirija %><br>
    <%= f.check_box :gare_kirija %>
  </div>
  <div class="field">
    <%= f.label :gare_struja %><br>
    <%= f.check_box :gare_struja %>
  </div>
  <div class="field">
    <%= f.label :gare_voda %><br>
    <%= f.check_box :gare_voda %>
  </div>
  <div class="field">
    <%= f.label :gare_zgrada %><br>
    <%= f.check_box :gare_zgrada %>
  </div>
  <div class="field">
    <%= f.label :gare_internet %><br>
    <%= f.check_box :gare_internet %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
