

<h1>Listing Months</h1>
<% @months.each do |month| %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Petar</th>
      <th>Brane</th>
      <th>Dmz</th>
      <th>Gare</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
      <p class="lead">Po cimer za mesec <%= month.name %>: <%= month.po_cimer %></p>
      <p>Kirija: <%= month.kirija_cimer %> | Struja: <%= month.struja_cimer %> | Voda: <%= month.voda_cimer %> | Zgrada: <%= month.zgrada_cimer %> | Internet: <%= month.internet_cimer %></p>
      <tr>
        <td><strong><%= month.name %></strong></td>
      </tr>
      <tr>
        <td>Kirija: <%= month.kirija_nova %></td>
        <td>
          <% if month.petar_kirija %>
            <p class="da">plateno</p>
          <% else %>
            <p class="ne">nema</p>
          <% end %>
        </td>
        <td>
          <% if month.brane_kirija %>
            <p class="da">plateno</p>
          <% else %>
            <p class="ne">nema</p>
          <% end %>
        </td>
        <td>
          <% if month.dmz_kirija %>
            <p class="da">plateno</p>
          <% else %>
            <p class="ne">nema</p>
          <% end %>
        </td>
        <td>
          <% if month.gare_kirija %>
            <p class="da">plateno</p>
          <% else %>
            <p class="ne">nema</p>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Struja: <%= month.struja %></td>
        <td>
          <% if month.petar_struja %>
            <p class="da">plateno</p>
          <% else %>
            <p class="ne">nema</p>
          <% end %>
        </td>
        <td>
          <% if month.brane_struja %>
            <p class="da">plateno</p>
          <% else %>
            <p class="ne">nema</p>
          <% end %>
        </td>
        <td>
          <% if month.dmz_struja %>
            <p class="da">plateno</p>
          <% else %>
            <p class="ne">nema</p>
          <% end %>
        </td>
        <td>
          <% if month.gare_struja %>
            <p class="da">plateno</p>
          <% else %>
            <p class="ne">nema</p>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Voda: <%= month.voda %></td>
        <td>
          <% if month.petar_voda %>
            <p class="da">plateno</p>
          <% else %>
            <p class="ne">nema</p>
          <% end %>
        </td>
        <td>
          <% if month.brane_voda %>
            <p class="da">plateno</p>
          <% else %>
            <p class="ne">nema</p>
          <% end %>
        </td>
        <td>
          <% if month.dmz_voda %>
            <p class="da">plateno</p>
          <% else %>
            <p class="ne">nema</p>
          <% end %>
        </td>
        <td>
          <% if month.gare_voda %>
            <p class="da">plateno</p>
          <% else %>
            <p class="ne">nema</p>
          <% end %>
        </td>
      </tr>
      <tr>  
        <td>Internet: <%= month.internet %></td>
        <td>
          <% if month.petar_internet %>
            <p class="da">plateno</p>
          <% else %>
            <p class="ne">nema</p>
          <% end %>
        </td>
        <td>
          <% if month.brane_internet %>
            <p class="da">plateno</p>
          <% else %>
            <p class="ne">nema</p>
          <% end %>
        </td>
        <td>
          <% if month.dmz_internet %>
            <p class="da">plateno</p>
          <% else %>
            <p class="ne">nema</p>
          <% end %>
        </td>
        <td>
          <% if month.gare_internet %>
            <p class="da">plateno</p>
          <% else %>
            <p class="ne">nema</p>
          <% end %>
        </td>
        
      </tr>
      <tr>
        <td>Zgrada: <%= month.zgrada %></td>
        <td>
          <% if month.petar_zgrada %>
            <p class="da">plateno</p>
          <% else %>
            <p class="ne">nema</p>
          <% end %>
        </td>
        <td>
          <% if month.brane_zgrada %>
            <p class="da">plateno</p>
          <% else %>
            <p class="ne">nema</p>
          <% end %>
        </td>
        <td>
          <% if month.dmz_zgrada %>
            <p class="da">plateno</p>
          <% else %>
            <p class="ne">nema</p>
          <% end %>
        </td>
        <td>
          <% if month.gare_zgrada %>
            <p class="da">plateno</p>
          <% else %>
            <p class="ne">nema</p>
          <% end %>
        </td>
      
       
        <td><%= link_to 'Editiraj !', edit_month_path(month), class: "btn btn-xs btn-info" %></td>
        <td><%= link_to 'Izbrishi mesec', month, method: :delete, data: { confirm: 'Sigurno sakash da go izbrishish mesecot ? Hakerman che ti vika !!!!!!' }, class: "btn btn-xs btn-danger" %></td>
      </tr>
    
  </tbody>
</table><br />
<% end %>
<br>

<%= link_to 'New Month', new_month_path, class: "btn btn-success" %>
