<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @month.name %>
</p>

<p>
  <strong>Kirija:</strong>
  <%= @month.kirija %>
</p>

<p>
  <strong>Struja:</strong>
  <%= @month.struja %>
</p>

<p>
  <strong>Voda:</strong>
  <%= @month.voda %>
</p>

<p>
  <strong>Internet:</strong>
  <%= @month.internet %>
</p>

<p>
  <strong>Zgrada:</strong>
  <%= @month.zgrada %>
</p>

<p>
  <strong>Petar kirija:</strong>
  <%= @month.petar_kirija %>
</p>

<p>
  <strong>Petar struja:</strong>
  <%= @month.petar_struja %>
</p>

<p>
  <strong>Petar voda:</strong>
  <%= @month.petar_voda %>
</p>

<p>
  <strong>Petar zgrada:</strong>
  <%= @month.petar_zgrada %>
</p>

<p>
  <strong>Petar internet:</strong>
  <%= @month.petar_internet %>
</p>

<p>
  <strong>Brane kirija:</strong>
  <%= @month.brane_kirija %>
</p>

<p>
  <strong>Brane struja:</strong>
  <%= @month.brane_struja %>
</p>

<p>
  <strong>Brane voda:</strong>
  <%= @month.brane_voda %>
</p>

<p>
  <strong>Brane zgrada:</strong>
  <%= @month.brane_zgrada %>
</p>

<p>
  <strong>Brane internet:</strong>
  <%= @month.brane_internet %>
</p>

<p>
  <strong>Dmz kirija:</strong>
  <%= @month.dmz_kirija %>
</p>

<p>
  <strong>Dmz struja:</strong>
  <%= @month.dmz_struja %>
</p>

<p>
  <strong>Dmz voda:</strong>
  <%= @month.dmz_voda %>
</p>

<p>
  <strong>Dmz zgrada:</strong>
  <%= @month.dmz_zgrada %>
</p>

<p>
  <strong>Dmz internet:</strong>
  <%= @month.dmz_internet %>
</p>

<p>
  <strong>Gare kirija:</strong>
  <%= @month.gare_kirija %>
</p>

<p>
  <strong>Gare struja:</strong>
  <%= @month.gare_struja %>
</p>

<p>
  <strong>Gare voda:</strong>
  <%= @month.gare_voda %>
</p>

<p>
  <strong>Gare zgrada:</strong>
  <%= @month.gare_zgrada %>
</p>

<p>
  <strong>Gare internet:</strong>
  <%= @month.gare_internet %>
</p>

<%= link_to 'Edit', edit_month_path(@month) %> |
<%= link_to 'Back', months_path %>
